h4 {
    padding-top: 1em;
}

ul.myIndentLis li {
    text-indent: -2em;
    padding-left: 2em;
}

.myIndent {
    padding-left: 2em;
}

/* -------------- references - start -------------- */
span[cite].beforePunctuation {
    margin-right: -0.3em; /* "removes" space after inline span element */
}
/* -------------- references - end -------------- */

/* -------------- figures - start -------------- */
figure.supFigure {
    border: 1.5px solid;
    padding: 0.5em;
} 

figcaption {
    text-align: center;
}

figure figure figcaption {
    font-style: italic;
}

figure table {
    width: 100%;
    border: 1px solid;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* -------------- figures - end -------------- */

/* -------------- left navigation bar - start -------------- */
@media(min-width:992px) { /* 992px is the trigger for col-md 2 / 10 relation */
    .myLeftNavBar {
        position: fixed;
        width: 15%; /* col-md-2 -> 2/12 (a lillte less for optic reason :p ) - manual because position:fexied ruins auto resizing */
    }
}
@media(max-width:992px) { /* otherwise .myAnchorWithFixedheader:before can overlap and thus make unclickable -.- */
    .myLeftNavBar {
        position: relative;
        z-index: 5;
    }
}


.myLeftNavBar div.in { /* div.in -> indent of expanded items */
    padding-left: 1em;
}

.myHeaderForSideWithMyLeftNavBar {
    position: fixed;
    width: 100%;
    height:5em;
    background: white;
    z-index: 10;
    overflow-x: auto;
}

.myHeaderForSideWithMyLeftNavBar a, a:focus, a:hover {
    color: #337ab7; /* overwrite inherited*/
    text-decoration: none;
}

.myHeaderForSideWithMyLeftNavBar + div.row {
    padding-top: 5em;
}

.myAnchorWithFixedheader:before {
    display: block; 
    content: ""; 
    margin-top: -5em; 
    height: 5em; 
    visibility: hidden;
}
/* -------------- left navigation bar - end -------------- */

/* -------------- print - start -------------- */
@media print {
    .myHeaderForSideWithMyLeftNavBar {
        position: relative;
        overflow: visible;
    }
    
    figure {
        page-break-inside: avoid;
    }
}
/* -------------- print - end -------------- */

