.timelineItem {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 3px solid;
    background-color: white;
    margin-right: 3px;
    cursor: pointer;
}

.timelineDot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    z-index: 1;
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0;
}

.timelineLabel {
    display: block;
    min-height: 20px;
}

[fstLineToggle] .timelineDot, .timelineItem[aria-expanded=true] .timelineDot, .timelineDot.active {
    opacity: 1;
}

.timelineDotGreen {
    background-color: #9DB668;
}

.timelineDotOrange{
    background-color: rgb(242, 104, 5);
}

.timelineDotRed{
    background-color: rgb(143, 24, 24);
}

.timelineDotYellow {
    background-color: rgb(255, 208, 66);
}


.sndLine {    
    margin-left: 50px;
    display: none;
}

svg {
    z-index: -1;
    position: absolute; /* otherwise svg "needs space" and timeline items are below the svg */
}




.borderToOld {
    border-right: solid 2px gray;
}

.timeline h4 {
    padding-top: 0em;
    margin-top: 0em;
}

h4.old {
    color: gray;
    border-bottom: solid 1px gray;
}

h4.new {
    border-bottom: solid 1px;
}



@media print {
/*    .sndLine {    
        display: inherit;
    }
    
    .timelineCol {
        page-break-inside: avoid;
    }
    
    #content > div {
        display: inherit;
        page-break-inside: avoid;
    }*/
    
    .timeline {
        display: none;
    }
}
